body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.app-container {
	padding: 20px;
}

.search-bar-container {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

.show-card {
	/* position: relative; */
	width: 20rem;
	height: 40rem;
	margin: 20px;
}

.show-card-image {
	height: 20rem;
	object-fit: contain !important;
}

.show-overview {
	height: 18rem;
	text-overflow: ellipsis;
	overflow: hidden;
	padding: 1rem !important;
}

.show-card-actions {
	/* position: absolute; */
	bottom: 0;
	padding: 0px !important;
	justify-content: space-around;
}

.show-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.episode-list {
	max-width: 800px;
	margin: 0 auto;
}

.episode-list-item {
	display: flex;
	justify-content: space-between;
}

.show-stream > img {
	max-width: 100%;
	max-height: 100%;
}

.show-status {
	padding: 0;
}

.show-details > div {
	height: fit-content;
}

.show-network,
.show-company {
	height: 2rem;
	margin: 0.2rem;
	text-align: center;
}

.episode-image {
	width: 25rem;
}

.home-top {
	justify-content: space-around;
	display: flex;
}

.episode-item {
	display: flex;
	flex-direction: column;
}

/* div.MuiTabs-flexContainer[role="tablist"] {
	justify-content: space-around;
} */

.show-info > div {
	line-height: 1.5rem;
	padding-bottom: 0.8rem;
	padding-top: 0.8rem;
}

.cast-crew-section {
	overflow: scroll;
	max-height: 13.5rem;
}
.show-intro > div,
.show-episodes > div {
	border-width: 1px;
	border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
}

.show-intro h4 {
	background-color: #0000000f;
	padding: 0.5rem;
	text-align: center;
}
.show-intro p {
	padding: 0.1rem;
	text-align: center;
}

.show-season-episodes > div {
	padding-left: 0;
	padding-right: 0;
}
